@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body,
.container,
textarea {
    background-color: #1E1E1E;
    color: #D1D5DB;
    font-size: 16px;
    line-height: 1.5;
    tab-size: 4;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: vertical;
    box-shadow: none !important;
}

.message,
.message-input,
.message-prompt {
    color: #D1D5DB;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: #444654;
    white-space: pre-wrap;
}

.message-top {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.message-prompt,
.message-input {
    background-color: #444;
}

.message-input:focus {
    outline: none;
}

.bi {
    font-size: 22px;
}

.bi-file-earmark-code,
.bi-files,
.bi-file-earmark-code:hover,
.bi-files:hover {
    font-size: 18px;
    cursor: pointer;
}

.bi-file-earmark-code:hover,
.bi-files:hover {
    color: #0275d8;
}

pre {
    background-color: #343541;
    color:#FFF;
    padding: 0;
    border: none;
    white-space: pre-wrap;
    word-break: keep-all;
    margin: 0;
    display: block;
}